apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-v2
  namespace: superheros
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      version: v2
  template:
    metadata:
      labels:
        app: frontend
        version: v2
    spec:
      containers:
      - name: frontend
        image: dockergc00/superheros-frontend:v2
        ports:
        - containerPort: 80
