{{- range $serviceName, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  namespace: {{ $.Values.namespace }}
spec:
  selector:
    app: {{ $serviceName }}
  ports:
    - port: {{ $service.port }}
      targetPort: {{ $service.port }}
{{- end }}
{{- end }}
