apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: {{ .Values.services.frontend.replicas | default 1 }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      containers:
        - name: frontend
          image: {{ .Values.image.registry }}/{{ .Values.services.frontend.image }}:{{ .Values.services.frontend.tag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: VITE_PAYMENT_API
              value: "http://payment:8084"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
