apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: {{ .Values.services.orders.replicas | default 1 }}
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
        version: v1
    spec:
      containers:
        - name: orders
          image: {{ .Values.image.registry }}/{{ .Values.services.orders.image }}:{{ .Values.services.orders.tag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          env:
            - name: CATALOG_URL
              value: "http://catalog:8081"
            - name: INVENTORY_URL
              value: "http://inventory:8083"
            - name: PAYMENT_URL
              value: "http://payment:8084"
          readinessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 20
            periodSeconds: 10
