apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: superheros-routing
  namespace: superheros
spec:
  hosts:
  - "*"
  gateways:
  - superheros-gateway
  http:

  - match:
    - uri:
        prefix: /api/catalog
    route:
    - destination:
        host: catalog.superheros.svc.cluster.local
        port:
          number: 8081

  - match:
    - uri:
        prefix: /api/orders
    route:
    - destination:
        host: orders.superheros.svc.cluster.local
        port:
          number: 8082

  - match:
    - uri:
        prefix: /api/inventory
    route:
    - destination:
        host: inventory.superheros.svc.cluster.local
        port:
          number: 8083

  - match:
    - uri:
        prefix: /api/payment
    route:
    - destination:
        host: payment.superheros.svc.cluster.local
        port:
          number: 8084

  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: frontend.superheros.svc.cluster.local
        port:
          number: 80
