apiVersion: v1
kind: Service
metadata:
  name: payment
  namespace: {{ .Values.namespace.name }}
spec:
  selector:
    app: payment
  ports:
    - name: http
      port: 80
      targetPort: 8084
  type: ClusterIP
