name: CI - Frontend

on:
  push:
    branches:
      - main
    paths:
      - gc-industries-devops-superheros/services/frontend/**

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: gc-industries-devops-superheros

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Frontend Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/superheros-frontend

          docker build -t $IMAGE:v1 services/frontend
          docker push $IMAGE:v1
